/* Style.css

   Created : 2014-11-15
   Revised : 2014-11-15
   Author : Tom Coleman
   Copyright : 2013-2013
   By : Tom Coleman

   Use # for ID
   Use . for class
*/

body
{ font-family: Arial, Helvetica, sans-serif ;
  font-size: 12pt ;
}

.title
{ font-family : "Comic Sans MS", "Lucida Casual", sans-serif ;
  font-size : 30pt ;
  font-weight : bold ;
}

.menu
{ font-family : "Comic Sans MS", "Lucida Casual", sans-serif ;
  font-size : 20pt ;
  font-weight : bold ;
}

.pagetitle
{ font-family : "Comic Sans MS", "Lucida Casual", sans-serif ;
  font-size : 24pt ;
  font-weight : bold ;
}

/* End */
